{% extends "base.html.twig" %}

{% block title %}Kortspel 21 | mvc{% endblock %}

{% block body %}
    <article class="no-flex">
        <h1>Dokumentation till kortspelet 21</h1>

        <p>En beskrivning av implementationen.</p>

        <p></p>

        <p></p>

    </article>
{% endblock %}

