/**
 *  card.css
 */
.cardContainer {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    row-gap: 1em;
    place-items: center;
    margin-bottom: 1.2em;
}

.card {
    font-size: 2em;
}

.hearts,
.diamonds {
    color: #b00;
}

