/**
 *  footer.css
 */
footer {
    flex: 0 0 auto;
    background-image: linear-gradient(to right bottom, #dba87f, #bc5c13);
}

footer .logos {
    float: right;
    margin: 93px 40px 0 0;
}

footer .logos a {
    margin-right: 20px;
    text-decoration: none;
}

footer .copy {
    display: block;
    padding: 100px 0 20px;
    margin-left: 45%;
}

