{% extends "base.html.twig" %}

{% block title %}Hem | mvc{% endblock %}

{% block body %}
    <article class="no-flex">
        <h1>Om mig</h1>

        <p>Jag heter Jonas och läser webbprogrammering på distans vid Blekinge Tekniska Högskola (BTH). Tidigare har jag
        sysslat med strömningsteknik vid LTH och jobbat en del som konsult inom systemutveckling/<wbr>programmering.</p>

        <p>Numera bor jag i Helsingborg i ett gammalt hus från 40-talet. I mån av tid fixar och donar jag med det mesta själv.</p>

        <img class="no-margin" src="{{ asset('img/Avatar26_148.jpg') }}" alt="En bild på mig" width="100">
    </article>
{% endblock %}
