{% extends "base.html.twig" %}

{% block title %}Rapport | mvc{% endblock %}

{% block body %}
    <article class="no-flex">
        <h1>Redovisning av kursmoment i kursen mvc (v2)</h1>
        <nav>
            <ul>
                <li><a href="#kmom01">Kmom01</a></li>
                <li><a href="#kmom02">Kmom02</a></li>
                <li><a href="#kmom03">Kmom03</a></li>
                <li><a href="#kmom04">Kmom04</a></li>
                <li><a href="#kmom05">Kmom05</a></li>
                <li><a href="#kmom06">Kmom06</a></li>
                <li><a href="#kmom10">Kmom10</a></li>
            </ul>
        </nav>

        <section>
            <h2 id="kmom01">Kmom01</h2>
            <p>Kursmoment ett.</p>

            <p></p>

            <p></p>

        </section>

        <section>
            <h2 id="kmom02">Kmom02</h2>
            <p></p>

            <p></p>

            <p></p>

        </section>

        <section>
            <h2 id="kmom03">Kmom03</h2>
            <p></p>

            <p></p>

            <p></p>

        </section>

        <section>
            <h2 id="kmom04">Kmom04</h2>
            <p></p>

            <p></p>

            <p></p>

        </section>

        <section>
            <h2 id="kmom05">Kmom05</h2>
            <p></p>

            <p></p>

            <p></p>

        </section>

        <section>
            <h2 id="kmom06">Kmom06</h2>
            <p></p>

            <p></p>

            <p></p>

        </section>

        <section>
            <h2 id="kmom10">Kmom10</h2>
            <p></p>

            <p></p>

            <p></p>

        </section>
    </article>
{% endblock %}
